# Flutter
app/.dart_tool/
app/.packages
app/build/
app/.flutter-plugins
app/.flutter-plugins-dependencies
*.iml
package-lock.json

# Go
server/bin/
server/server_bin
server/vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*
